html, body {
    height: 100%;
    background-image: url(../img/back.jpg);
    background-size: cover;
    overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}


.flare:hover {
    filter: url("../svg/effects.svg#blur");
}

.multiply {
    mix-blend-mode: multiply;
}

.overlay {
    mix-blend-mode: overlay;
}

.pointer {
    cursor: pointer;
}
