/* Full screen */
/*html, body {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #E6E6E6;
    font-family: sans-serif;
    background-image: url(../img/back.jpg);
    background-size: cover;
}*/

html, body {
    height: 100%;
    background-image: url(../img/back.jpg);
    background-size: cover;
    overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Centered canvas */
.c {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pointer {
    cursor: hand;
}

.flare-chat {
    mix-blend-mode: multiply;
    cursor: pointer;
}

.flare-calendar {
    mix-blend-mode: multiply;
    cursor: pointer;
}

.flare-videos {
    mix-blend-mode: overlay;
    cursor: pointer;
}

